.ky-x {
    background-image: url("./svgs/x.svg");
}

.ky-x-circle {
    background-image: url("./svgs/x-circle.svg");
}

//stars
.ky-star {
    background-image: url("./svgs/stars/star.svg");
}

.ky-star-half {
    background-image: url("./svgs/stars/star-half.svg");
}

.ky-star-e {
    background-image: url("./svgs/stars/star-e.svg");
}

//team
.ky-user {
    background-image: url("./svgs/user.svg");
}

.ky-team {
    background-image: url("./svgs/team.svg");
}

//media
.ky-next {
    background-image: url("./svgs/media/next.svg");
}

.ky-play {
    background-image: url("./svgs/media/play.svg");
}

.ky-previous {
    background-image: url("./svgs/media/previous.svg");
}

.ky-volume {
    background-image: url("./svgs/media/volume.svg");
}

.ky-search {
    background-image: url("./svgs/search.svg");
}

//location
.ky-location {
    background-image: url("./svgs/location.svg");
}

//others
.ky-check {
    background-image: url("./svgs/check.svg");
}

//alignment
.ky-align-c {
    background-image: url("./svgs/align/horizontal-align-center.svg");
}

.ky-align-l {
    background-image: url("./svgs/align/horizontal-align-left.svg");
}

.ky-align-r {
    background-image: url("./svgs/align/horizontal-align-right.svg");
}