.ky-x {
    background-image: url("./svgs/x.svg");
}

.ky-x-circle {
    background-image: url("./svgs/x-circle.svg");
}

.ky-star {
    background-image: url("./svgs/stars/star.svg");
}

.ky-star-half {
    background-image: url("./svgs/stars/star-half.svg");
}

.ky-star-e {
    background-image: url("./svgs/stars/star-e.svg");
}

.ky-user {
    background-image: url("./svgs/user.svg");
}

.ky-team {
    background-image: url("./svgs/team.svg");
}