#directories to ignore
.sass-cache
node_modules

#files to ignore
*.swp

#the environment file
.env
dist


package-lock.json
#test files 
test.js
test.html
main.js
http_t.js
#vscode
.vscode

#file to add 
shippingSect.js
orderSect.js
paymentSect.js
placeorderSect.js
productSect.js
productListSect.js
usersListSect.js
cartSect.js
addPlayerSect.js
checkoutStepsSect.js
ratingSect.js
cartSect.js