/*
Error: File to import not found or unreadable: variable.
        on line 3 of const/_main.scss
        from line 1 of const/_body.scss
        from line 1 of const/_itemDetails.scss
        from line 2 of kwito.scss

1: @import 'abstracts/abstract',
2: 'const/itemDetails',
3: 'const/message',
4: 'const/forms',
5: 'const/loading',
6: 'const/progressbar',
7: 'const/order',
8: 'const/profile',

Backtrace:
const/_main.scss:3
const/_body.scss:1
const/_itemDetails.scss:1
kwito.scss:2
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:44:in `import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/home/muamba/.rvm/gems/ruby-3.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: variable.\A         on line 3 of const/_main.scss\A         from line 1 of const/_body.scss\A         from line 1 of const/_itemDetails.scss\A         from line 2 of kwito.scss\A \A 1: @import 'abstracts/abstract',\A 2: 'const/itemDetails',\A 3: 'const/message',\A 4: 'const/forms',\A 5: 'const/loading',\A 6: 'const/progressbar',\A 7: 'const/order',\A 8: 'const/profile',"; }
