*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none; }

html, body, header, footer, p, h1, h2, h3, h4, h5, h6, b, strong, i, em, small, del, mark, sub, sup, a, img, table, thead, tbody tr, td, th, ol, ul, li, dl, dt, dd, form, output, label, video, source, audio, div, span, s, section, details, nav, canvas, menu, summary, time, hgroup, caption, aside, article, center, legend, strike, dfn, ins, samp, big, kbd, cite code, address, applet, object, abbr, iframe, tt, acronym, var, u, pre, blockquote, q, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

header, footer, hgroup, nav, section, menu, figure, details, aside, figcaption, article {
  display: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none; }

.ky-x {
  background-image: url("./svgs/x.svg"); }

.ky-x-circle {
  background-image: url("./svgs/x-circle.svg"); }

.ky-star {
  background-image: url("./svgs/stars/star.svg"); }

.ky-star-half {
  background-image: url("./svgs/stars/star-half.svg"); }

.ky-star-e {
  background-image: url("./svgs/stars/star-e.svg"); }

.ky-user {
  background-image: url("./svgs/user.svg"); }

.ky-team {
  background-image: url("./svgs/team.svg"); }

.ky-next {
  background-image: url("./svgs/media/next.svg"); }

.ky-play {
  background-image: url("./svgs/media/play.svg"); }

.ky-previous {
  background-image: url("./svgs/media/previous.svg"); }

.ky-volume {
  background-image: url("./svgs/media/volume.svg"); }

.ky-search {
  background-image: url("./svgs/search.svg"); }

.ky-location {
  background-image: url("./svgs/location.svg"); }

.ky-check {
  background-image: url("./svgs/check.svg"); }

.ky-align-c {
  background-image: url("./svgs/align/horizontal-align-center.svg"); }

.ky-align-l {
  background-image: url("./svgs/align/horizontal-align-left.svg"); }

.ky-align-r {
  background-image: url("./svgs/align/horizontal-align-right.svg"); }

.ky-whiteboard {
  background-image: url("./svgs/whiteboard.svg"); }

[class*="ky-"] {
  display: block; }

[class*="ky-"] {
  content: '';
  display: block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: contain; }

.txs {
  height: 0.5em;
  width: 0.5em; }

.xs {
  height: 1em;
  width: 1em; }

.sm {
  height: 1.5em;
  width: 1.5em; }

.lg {
  height: 4em;
  width: 4em; }

.xl {
  height: 5em;
  width: 5em; }

.txl {
  height: 7em;
  width: 7em; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  70% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
body {
  font: 1.875em Helvetica, sans-serif;
  font-weight: 500; }

a {
  color: black;
  text-decoration: none; }
a:hover {
  color: #55c57a; }

input {
  font: 1em Helvetica, sans-serif; }

button {
  font: 1em Helvetica, sans-serif;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem; }
button:hover {
  border: 0.1rem #55c57a solid; }

button {
  cursor: pointer; }

.success {
  color: #40c040; }

.danger {
  color: #c04040; }

header {
  grid-area: header;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid rgba(37, 47, 45, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 19, 8, 0.2);
  backface-visibility: hidden; }
header a {
  color: #252f2d;
  text-decoration: none;
  padding-right: 2.5rem; }
header a:hover {
  color: #55c57a; }
header .brand {
  animation: moveInLeft 1s ease-out; }
header .brand a {
  font-weight: bold;
  font-size: 2.25em;
  padding-left: 3rem; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 6rem; }
.row:not(:last-child) {
  margin-bottom: 8rem; }
.row::after {
  content: "";
  display: table;
  clear: both; }
.row [class^="col-"] {
  background-color: green;
  float: left; }
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem; }
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2); }
.row .col-1-of-3 {
  width: calc((100% - (2 *6rem)) / 3); }
.row .col-2-of-3 {
  width: calc(2 * ((100% - (2 *6rem)) / 3) + 6rem); }
.row .col-1-of-4 {
  width: calc((100% - (3 *6rem)) / 4); }
.row .col-2-of-4 {
  width: calc(2 * ((100% - (3 *6rem)) / 4) + 6rem); }
.row .col-3-of-4 {
  width: calc(3 * ((100% - (3 *6rem)) / 4) + (2 * 6rem)); }

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001308;
  font-size: 0.625em !important;
  border-top: 1px solid rgba(37, 47, 45, 0.2);
  height: 60px; }

/*# sourceMappingURL=kwito.css.map */
