*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
}

html,
body,
header,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
i,
em,
small,
del,
mark,
sub,
sup,
a,
img,
table,
thead,
tbody tr,
td,
th,
ol,
ul,
li,
dl,
dt,
dd,
form,
output,
label,
video,
source,
audio,
div,
span,
s,
section,
details,
nav,
canvas,
menu,
summary,
time,
hgroup,
caption,
aside,
article,
center,
legend,
strike,
dfn,
ins,
samp,
big,
kbd,
cite code,
address,
applet,
object,
abbr,
iframe,
tt,
acronym,
var,
u,
pre,
blockquote,
q,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

header,
footer,
hgroup,
nav,
section,
menu,
figure,
details,
aside,
figcaption,
article {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

.ky-x {
  background-image: url("./svgs/x.svg");
}

.ky-x-circle {
  background-image: url("./svgs/x-circle.svg");
}

.ky-star {
  background-image: url("./svgs/stars/star.svg");
}

.ky-star-half {
  background-image: url("./svgs/stars/star-half.svg");
}

.ky-star-e {
  background-image: url("./svgs/stars/star-e.svg");
}

.ky-user {
  background-image: url("./svgs/user.svg");
}

.ky-team {
  background-image: url("./svgs/team.svg");
}

.ky-next {
  background-image: url("./svgs/media/next.svg");
}

.ky-play {
  background-image: url("./svgs/media/play.svg");
}

.ky-previous {
  background-image: url("./svgs/media/previous.svg");
}

.ky-volume {
  background-image: url("./svgs/media/volume.svg");
}

.ky-search {
  background-image: url("./svgs/search.svg");
}

.ky-location {
  background-image: url("./svgs/location.svg");
}

.ky-check {
  background-image: url("./svgs/check.svg");
}

.ky-align-c {
  background-image: url("./svgs/align/horizontal-align-center.svg");
}

.ky-align-l {
  background-image: url("./svgs/align/horizontal-align-left.svg");
}

.ky-align-r {
  background-image: url("./svgs/align/horizontal-align-right.svg");
}

.ky-whiteboard {
  background-image: url("./svgs/whiteboard.svg");
}

[class*=ky-] {
  display: block;
}

[class*=ky-] {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: contain;
}

.txs {
  height: 0.5em;
  width: 0.5em;
}

.xs {
  height: 1em;
  width: 1em;
}

.sm {
  height: 1.5em;
  width: 1.5em;
}

.lg {
  height: 4em;
  width: 4em;
}

.xl {
  height: 5em;
  width: 5em;
}

.txl {
  height: 7em;
  width: 7em;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  70% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  70% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
body {
  font: 3rem Helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: #001308;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

input {
  font: 0.8rem Helvetica, sans-serif;
}

.brand {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}
.brand a {
  color: #fff;
}

li {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.button-text {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: center;
}
.button-text a {
  color: #fff;
}

h6 {
  font-size: 1.2rem;
  color: rgba(37, 47, 45, 0.5);
}

.form-container h1 {
  font-size: 1.8rem;
}
.form-container li a {
  font-size: 0.8rem;
  color: #29ab87;
}

header {
  color: white;
}

.dashboard {
  color: #001308;
}
.dashboard .dashboard-content h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.dashboard .dashboard-content div {
  font-size: 0.8rem;
}

.header-list .user-wrapper div h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.header-list .user-wrapper div small {
  font-size: 0.8rem;
}

.main-page .home-header {
  font-size: 0.8rem;
}
.main-page .home-header ul a:hover {
  text-decoration: underline;
  color: #55c57a;
}
.main-page .motor h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(31, 130, 103, 0.9);
}
.main-page .motivation h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(34, 34, 154, 0.5);
}
.main-page .motivation h2 a {
  color: rgba(37, 47, 45, 0.5);
  font-size: 1.2rem;
  text-transform: lowercase;
}
.main-page .motivation h2 a:hover {
  color: #55c57a;
}

.center-text {
  text-align: center;
}

.space-between {
  padding-right: 1rem;
}

.bottom-margin {
  margin-bottom: 3.5rem;
}

.top-margin {
  margin-top: 3rem;
}

.button-cursor {
  cursor: pointer;
}

.composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-fill {
  background-color: #38805d;
  width: 8rem;
  padding-top: 0.4rem;
  height: 1.5rem;
  border-radius: 50rem;
}
.button-fill:hover {
  background-color: rgba(56, 128, 93, 0.8);
}

.button-clear {
  width: 8rem;
  padding-top: 0.4rem;
  height: 1.5rem;
  border-radius: 50rem;
  border: 0.1rem solid #252f2d;
}
.button-clear:hover {
  background-color: rgba(56, 128, 93, 0.1);
}

.button__box-fill {
  width: 18rem;
  height: 2.2rem;
  background-color: rgba(61, 75, 86, 0.8);
  border-radius: 0.5rem;
}
.button__box-fill:hover {
  background-color: rgba(40, 49, 56, 0.8);
  border: 0.1rem solid rgba(61, 75, 86, 0.8);
}

.success {
  background-color: #28a745;
}

.danger {
  background-color: #c04040;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 19, 8, 0.3);
}
.overlay > div {
  background-color: #29ab87;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 40rem;
}
.overlay > div > * {
  margin: 2rem;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 25rem;
}
.card__side {
  height: 25rem;
  width: 17rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(37, 47, 45, 0.35);
          box-shadow: 0 1.5rem 4rem rgba(37, 47, 45, 0.35);
}
.card__picture {
  background-size: cover;
  height: 10rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.2)), to(rgba(41, 171, 135, 0.2)));
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.2), rgba(41, 171, 135, 0.2));
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.card__heading {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 70%;
}
.card__heading--highlight {
  padding: 0.2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.9)), to(rgba(41, 171, 135, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.9), rgba(41, 171, 135, 0.9));
}
.card__details {
  padding-left: 1rem;
}
.card__details ul {
  width: 90%;
}
.card__details ul li {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.8rem;
  margin: 0 auto;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(37, 47, 45, 0.35);
}
.card__details--btn {
  text-transform: uppercase;
  height: 2rem;
  width: 8rem;
  border-radius: 5rem;
  background-color: #29ab87;
  cursor: pointer;
}
.card__details--btn:hover {
  background-color: #55c57a;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #29ab87;
}

.header-list .user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-list .user-wrapper img {
  height: 2rem;
  width: 2rem;
  padding-right: 1rem;
}
.header-list .user-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  max-width: 114rem;
  margin: 0 6rem;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - (2 *6rem)) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - (2 *6rem)) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - (3 *6rem)) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - (3 *6rem)) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - (3 *6rem)) / 4 + (2 * 6rem));
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}
@media (max-width: 37.5em) {
  .form-container {
    float: right;
  }
}
.form-container .form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  margin: 3rem;
  width: 22rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
  -webkit-box-shadow: 2px 5px 10px rgba(37, 47, 45, 0.2);
          box-shadow: 2px 5px 10px rgba(37, 47, 45, 0.2);
}
.form-container .form-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.form-container .form-items input {
  height: 2rem;
  border: none;
  border-bottom: 0.1rem solid rgba(159, 180, 176, 0.5);
}
.form-container .form-items input:focus {
  outline: none;
}

footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #001308;
  font-size: 0.8rem !important;
  height: 5rem;
  background-color: rgba(205, 255, 205, 0.8);
}

.main-page {
  position: relative;
  z-index: 7;
}
.main-page .motor {
  margin-top: 5rem;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 78vh;
}
.dashboard .dashboard-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1rem;
          flex: 1 1 1rem;
  height: 100%;
  background-color: rgba(179, 255, 179, 0.8);
}
.dashboard .dashboard-menu ul {
  padding: 0;
}
.dashboard .dashboard-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dashboard .dashboard-menu a:hover {
  background-color: #fcfcfc;
}
.dashboard .dashboard-menu li.selected a {
  background-color: #fcfcfc;
  color: #001308;
}
.dashboard .dashboard-content {
  -webkit-box-flex: 8;
      -ms-flex: 8 1 15rem;
          flex: 8 1 15rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.dashboard .dashboard-content div,
.dashboard .dashboard-content h1 {
  margin: 1rem 0 0 1rem;
}