.main-page {
    position: relative;
    z-index: 7;
    //display: inline-block;
    .home-header {
        font-size: $font-smallest;
        height: 4rem;
        //background-color: red;
        ul {
            padding: 1.5rem 5rem;
            display: flex;
            a {
                &:hover {
                    text-decoration: underline;
                    color: $hover-color;
                }
            }
        }
    }
    .motor {
        margin-top: 5rem;
        h1 {
            font-size: $font-medium-6;
            //position: relative;
            text-transform: uppercase;
            font-weight: weight(bold);
            color: darken(rgba($main-color, .9), 10);
        }
    }
    .motivation {
        h2 {
            //position: relative;
            font-size: $font-smaller;
            font-weight: weight(medium);
            color: lighten(rgba($midnightBlue, .7), 10);
        }
    }
}