//basic definations of the project
html {
    //defines the size of the rem
    font-size: 62.5%; //1rem = 10px so (10/16)*100 to get the font-size in percentage
}

body {
    background-color: $design-color;
    min-height: 200vh;
}

input {
    padding: 1rem;
    border: 0.1rem $brand-text-color solid;
    border-radius: 0.5rem;
    &:hover {
        border: 0.1rem $hover-color solid;
    }
}