    //general setting for the app typography
    body {
        font: $font-medium-3 $font_family;
        font-weight: weight(regular);
    }
    
    a {
        color: $green-cyan-dack;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
    }
    
    input {
        font: $font-smallest $font_family;
    }
    
    //the logo and brand name of the site
    .brand {
        font-size: $font-default;
        text-transform: uppercase;
        font-weight: weight(bold);
        letter-spacing: .1rem;
        animation: moveInLeft 1s ease-out;
        a {
            color: $color-white;
        }
    }
    
    li {
        text-transform: uppercase;
        font-size: $font-smallest;
        letter-spacing: .1rem;
    }
    
    //buttons
    .button-text {
        font-size: $font-smaller;
        padding-top: 1rem;
        text-align: center;
        a {
            color: $color-white;
        }
    }
    
    h6 {
        font-size: $font-smaller;
        color: rgba($forest-green-darck, .5);
    }
    
    //forms
    .form-container {
        h1 {
            font-size: $font-medium;
        }
        li {
            a {
                font-size: $font-smallest;
                color: $main-color;
            }
        }
    }
    
    header {
        color: white;
    }
    
    .dashboard {
        color: $green-cyan-dack;
        .dashboard-content {
            h1 {
                font-size: $font-default;
                text-transform: uppercase;
            }
            div {
                font-size: $font-smallest;
            }
        }
    }