/*.center-text {
    text-align: center;
}

.space-between {
    padding-right: 1rem;
}

.bottom-margin {
    margin-bottom: 3.5rem;
}

.top-margin {
    margin-top: 3rem;
}

.button-cursor {
    cursor: pointer;
}

.composition {
    display: flex;
    justify-content: space-between;
}*/