.center-text {
    text-align: center;
}

.space-between {
    padding-right: 1rem;
}

.bottom-margin {
    margin-bottom: 2rem;
}

.button-cursor {
    cursor: pointer;
}

.composition {
    display: flex;
    justify-content: space-between;
}