footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green-cyan-dack;
    font-size: $font-smallest !important;
    height: 5rem;
    background-color: lighten(rgba($green, 0.8), 65);
}