//forms for the sign ups pages
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    h1 {
        font-size: $font-medium-1;
    }
    .form-items {
        display: flex;
        flex-direction: column;
        float: right;
        margin: 3rem;
        width: 32rem;
        padding: 2rem;
        border: 0.1rem $gray-color solid;
        border-radius: 0.5rem;
        list-style-type: none;
        //box-shadow: 1px 1px 5px rgba($forest-green-darck, 0.2);
        li {
            display: flex;
            flex-direction: column;
            margin-bottom: .5rem;
            margin-top: .5rem;
            a {
                font-size: $font-smaller;
            }
        }
    }
}