//forms for the sign ups pages
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    @include responsive(phone){
        float: left;
        right: 100px;
    }
  
    .form-items {
        display: flex;
        flex-direction: column;
        float: right;
        margin: 3rem;
        width: 22rem;
        padding: 2rem;
        border: 0.1rem $gray-color solid;
        border-radius: 0.5rem;
        list-style-type: none;
        box-shadow: 2px 5px 10px rgba($forest-green-darck, 0.2);
        @include responsive(phone){
            margin: 2rem;
            padding: 1rem;
            //width: 12rem;
        }
        li {
            display: flex;
            flex-direction: column;
            margin-bottom: .5rem;
            margin-top: .5rem;
        }
        input {
            height: 2rem;
            border: none;
            border-bottom: .1rem solid lighten(rgba($forest-green-darck, .5), 50);
            &:focus {
                outline: none;
            }
        }
    }
}