header {
    grid-area: header;
    background-color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border-bottom: 0.1rem solid rgba($forest-green-darck, 0.3);
    //box-shadow: 1px 1px 5px rgba($green-cyan-dack, 0.2);
    backface-visibility: hidden;
}