//dashboard
.dashboard {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    h1 {
        font-size: $font-medium-3;
        margin: 1rem 0;
    }
    .dashboard-menu {
        flex: 1 1 20rem;
        background-color: $light-color;
        ul {
            padding: 0;
        }
        a {
            display: flex;
            padding: 1rem;
            padding-left: 2rem;
            justify-content: space-between;
            &:hover {
                background-color: $light-w;
            }
        }
        li.selected a {
            background-color: $light-w;
            color: $green-cyan-dack;
        }
    }
    .dashboard-content {
        flex: 4 1 80rem;
        padding: 1rem;
        color: $green-cyan-dack;
        .product-list {
            button {
                font-size: $font-smallest;
                padding: 0.5rem;
            }
            .tr-action {
                width: 10rem;
            }
        }
    }
}