//checkout progress bar
/*.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 409rem;
    margin: 1rem auto;
    >div {
        border-top: 0.3rem $gray-color solid;
        color: $gray-color;
        flex: 1 1;
        padding-top: 1rem;
    }
}

.checkout-steps>div.active {
    color: $green-cyan-dack;
    border-top-color: $green-cyan-dack;
}*/