/*.profile {
    width: 320px;
    padding: 0;
}*/
.profile-main{
    flex-basis: 73%;
    //width: 1250px;
}
.profile-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}
.profile-sidebar-img{
    width: 100%;
}
.profile-container{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.profile-continer-inner{
    padding: 0 4% 10px;
}
.profile-pic{
    width: 130px;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background: #fff;
}
.profile-container h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.profile-container b{
    font-weight: 500;
    font-size: 14px;
}
.profile-container p{
    font-size: 12px;
    margin-top: 5px;
}
.mutual-collaboration{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.mutual-collaboration img{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.mutual-collaboration span{
    font-size: 11px;
}
.profile-btn{
    margin: 20px 0;
}
.profile-btn a{
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 6px 15px;
    font-size: 11px;
    border-radius: 4px;
    margin-right: 10px;
}
.profile-btn a img{
    width: 18px;
    margin-right: 5px;
}
.profile-btn .primary-btn{
    background: $main-color;
}
.profile-description{
    //background: #e4e6eb;
    padding: 20px 4% 30px;
    margin: 12px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.profile-description h2{
    color: #333;
    margin: 10px 0 20px;
    font-weight: 600;
}
.profile-description p{
    font-size: 13px;
}
.see-more-link{
    display: block;
    text-align: right;
    font-size: 12px;
}
.profile-desc-row{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
.profile-desc-row img{
    width: 50px;
    margin-right: 25px;
    margin-top: 5px;
}
.profile-desc-row div{
    width: 100%;
}
.profile-desc-row h3{
    font-size: 12px;
    font-weight: 600;
    color: #333;
}
.profile-desc-row b{
    display: block;
    font-size: 11px;
}
.profile-desc-row p{
    margin-top: 15px;
}
.profile-desc-row hr{
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 10px;
}
.experience-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-weight: 500;
    font-size: 14px;
}
.experience-link img{
    width: 20px;
    margin-left: 8px;
}
.profile-description hr{
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 10px;
}
.skills-btn{
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 500;
}
.language-btn{
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-size: 9px;
    font-weight: 500;
}
.add-link{
    display: block;
    text-align: right;
    font-size: 12px;
}
.profile{
    //background: #999;
    width: 100%;
}
.form-container h1{
    font-size: 18px;
    text-align: center;
}
.form-container label{
    font-size: 14px;
    padding: 10px;
    //margin-bottom: 30px;
    //align-items: center;
}
.form-container input{
    font-size: 12px;
    padding: 10px;
    background: #fff;
}
/*.profile-sidebar .sidebar-ads{
    background: #e4e6eb;
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
    border-radius: 3%;
}
.profile-sidebar .sidebar-ads img{
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}
.profile-sidebar .sidebar-ads small{
    float: right;
    font-weight: 500;
}
.profile-sidebar .sidebar-ads p{
    margin-top: 30px;
    margin-bottom: 10px;
}
.profile-sidebar .sidebar-ads b{
    display: block;
    font-weight: 500;
    margin-top: 10px;
}
.ad-link{
    display: inline-block;
    border: 1px solid #045be6;
    border-radius: 30px;
    padding: 5px 15px;
    color: #045be6;
    margin: 20px auto 10px;
}*/