//this code will enable to reset the browers and remove
//all the default css setting for the different kind of 
//browers
//Project: brower reset
//Author: Softcraze Corporation
//Date: 08/07/2022
//updated: 10/07/2022
//Versin: 1.1.4
* {
    box-sizing: border-box;
    text-decoration: none;
}

html,
body,
header,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
i,
em,
small,
del,
mark,
sub,
sup,
a,
img,
table,
thead,
tbody tr,
td,
th,
ol,
ul,
li,
dl,
dt,
dd,
form,
output,
label,
video,
source,
audio,
div,
span,
s,
section,
details,
nav,
canvas,
menu,
summary,
time,
hgroup,
caption,
aside,
article,
center,
legend,
strike,
dfn,
ins,
samp,
big,
kbd,
cite code,
address,
applet,
object,
abbr,
iframe,
tt,
acronym,
var,
u,
pre,
blockquote,
q,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

header,
footer,
hgroup,
nav,
section,
menu,
figure,
details,
aside,
figcaption,
article {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
    &::before,
    &::after {
        content: '';
        content: none;
    }
}