//this module will hold the constant variable defined for the project
//starting from font size to all the color code used.
//Author: Softcraze Corparation
//Date: Fune Fourteenth Two Thousand Ywenty-two
//Font Family
$font_family: Helvetica,
sans-serif;
//Font Size
$font-smallest: 0.625em; //10px
$font-smaller: 0.754em; //12px
$font-small: 0.875em; //14px
$font-default: 1em; //14px
$font-medium: 1.125em; //18px
$font-medium-1: 1.375em; //22px
$font-medium-2: 1.5em; //24px
$font-medium-3: 1.875em; //30px
$font-medium-4: 2.25em; //36px
$font-medium-5: 3.0em; //48px
$font-big: 3.75em; //60px
$font-bigger: 4.5em; //72px
$font-biggest: 5.25em; //84px
//main colors
$main-color: #29ab87;
$text-color: #ffffff;
$hover-color: #90ee90;
$green-cyan-dack: #001308;
$forest-green-darck: #252f2d;
$brand-text-color: #808080;
$light-color: #c7c7c7;
$success-color: #40c040;
$danger-color: #c04040;
$gray-color: #c0c0c0;
$light-w: #fcfcfc;
$table-color-row-odd: #daecda;
$border-color: #505050;
$color-dark: #1d2231;
$text-gray: #8390a2;