@mixin clearFix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin perspectives($value) {
    -moz-perspective: $value;
    perspective: $value;
}

@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}