//this module will hold the constant variable defined for the project
//starting from font size to all the color code used.
//Author: Softcraze Corparation
//Date: Fune Fourteenth Two Thousand Ywenty-two
//Font Family
//-----------------------------------------------------------------
$font_family: Helvetica,
sans-serif;
//-----------------------------------------------------------------
//font weights
//to use the font-weight variable
//use the map-get($map, key)
//eg. p{
//          font-weight: map-get($font-weights, regular); 
//      }
//or use the weight function
//eg. p{
//          font-weight: weight(regular); 
//      }
//-----------------------------------------------------------------
$font-weights: ( "regular": 400, "medium": 700, "bold": 900);
//
//-----------------------------------------------------------------
//Font Size
//-----------------------------------------------------------------
$font-smallest: 0.8rem; //10px
$font-smaller: 1.2rem; //12px
$font-small: 1.4rem; //14px
$font-default: 1.6rem; //16px
$font-medium: 1.8rem; //18px
$font-medium-1: 2.2rem; //22px
$font-medium-2: 2.4rem; //24px
$font-medium-3: 3.0rem; //30px
$font-medium-4: 3.6rem; //36px
$font-medium-5: 4.8rem; //48px
$font-big: 6.0rem; //60px
$font-bigger: 7.2rem; //72px
$font-biggest: 8.4rem; //84px
//------------------------------------------------------------------
//main colors
//------------------------------------------------------------------
$main-color: #29ab87;
$text-color: #ffffff;
$hover-color: #55c57a; //#90ee90;
$green-cyan-dack: #001308;
$forest-green-darck: #252f2d;
$brand-text-color: #808080;
$light-color: #c7c7c7;
$success-color: #40c040;
$danger-color: #c04040;
$gray-color: #c0c0c0;
$light-w: #fcfcfc;
$table-color-row-odd: #daecda;
$border-color: #505050;
$color-dark: #1d2231;
$text-gray: #8390a2;
$button-color: #38805d;
$color-white: #fff;
//-----------------------------------------------------------------
//grid
//-----------------------------------------------------------------
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;