//all color code and they shade
//author: Softcraze Corporation
//date: 13/09/2022
//versio: 1.10.36
//-----------------------------
//common color code
//------------------------------
$red: #ff0000; //rgb(255,0,0)
$darkRed: #8b0000; //rgb(138,0,0)
$maroon: #800000; //rgb(128,0,0)
$tomato: #ff6347; //rgb(255,99,71)
$violetRed: #d02090; //rgb(208,32,144)
$paleVioletRed: #db7093; //rgb(219,112,147)
$mediumVioletRed: #c71585; //rgb(199,21,133)
$indianRed: #cd5c5c; //rgb(205,92,92)
$fireBrick: #b22222; //rgb(178,34,34)
$sienna: #a0522d; //rgb(160,82,45)
$orangeRed: #ff4500; //rgb(255,69,0)
$orange: #ffa500; //rgb(255,165,0)
$darkOrange: #ff8c00; //rgb(255,140,0)
$coral: #ff7f50; //rgb(255,127,80)
$lightCoral: #f08080; //rgb(240,240,240)
$peach: #fef0db; //rgb(254,240,219)
$peachPuff: #ffdab9; //rgb(255,218,185)
$papayawhip: #ffefd5; //rgb(255,239,213)
$yellow: #ffff00; //rgb(255,255,0)
$lightYellow: #ffffe0; //rgb(255,255,224)
$lemonChiffon: #fffacd; //rgb(255,250,205)
$greenYellow: #adff2f; //rgb(173,255,47)
$sunflower: #f6a600; //rgb(246,166,0)
$goldenrod: #daa520; //rgb(218,165,32)
$darkGoldenrod: #b8860b; //rgb(184,134,11)
$lightGoldenrod: #eedd82; //rgb(238,221,130)
$lightGoldenrodYellow: #fafad2; //rgb(250,250,210)
$paleGoldenrod: #eee8aa; //rgb(238,232,170)
$pink: #ffc0cb; //rgb(255,192,203)
$lightPink: #ffb6c1; //rgb(255,182,193)
$hotPink: #ff69b4; //rgb(255,105,180)
$fuchsia: #ff00ff; //rgb(255,0,255)
$deepPink: #ff1493; //rgb(255,20,147)
$mistyRose: #ffe4e1; //rgb(255,228,225)
$salmon: #fa8072; //rgb(250,128,114)
$lightSalmon: #ffa07a; //rgb(255,160,122)
$darkSalmon: #e9967a; //rgb(233,150,122)
$yellowGreen: #9acd32; //rgb(154,205,50)
$green: #008000; //rgb(0,128,0)
$paleGreen:#98FB98; //rgb(152,251,152)
$lightGreen:#90EE90; //rgb(144,238,144)
$darkGreen :#006400; //rgb(0,100,0)
$olive :#808000; //rgb(128,128,0)
$oliveDrab :#6B8E23; //rgb(107,142,35)
$darkOliveGreen :#556B2F; //rgb(85,107,47)
$chartreuse :#7FFF00; //rgb(127,255,0)
$forestGreen :#228B22; //rgb(34,139,34)
$gainsboro :#DCDCDC; //rgb(220,220,220)
$springGreen :#00FF7F; //rgb(0,255,127)
$mediumSpringGreen :#00FA9A; //rgb(0,250,154)
$lawnGreen :#7CFC00; //rgb(124,252,0)
$honeydew :#F0FFF0; //rgb(240,255,240)
$mintCream :#F5FFFA; //rgb(245,255,250)
$lightSeaGreen :#20B2AA; //rgb(32,178,170)
$mediumSeaGreen :#3CB371; //rgb(60,178,170)
$darkSeaGreen :#8FBC8F; //rgb(143,188,143)
$lime :#00FF00; //rgb(0,255,0)
$limeGreen :#32CD32; //rgb(50,205,50)
$teal :#008080; //rgb(0,128,128)
$turquoise :#40E0D0; //rgb(64,224,204)
$paleTurquoise :#AFEEEE; //rgb(175,238,238)
$mediumTurquoise :#48D1CC; //rgb(72,209,204)
$darkTurquoise :#00CED1; //rgb(0,206,209)
$aqua :#00FFFF; //rgb(0,255,255)
$mediumAquamarine :#66CDAA; //rgb(102,205,170)
$blue :#0000FF; //rgb(0,0,255)
$mediumBlue :#0000CD; //rgb(0,0,205)
$darkBlue :#00008B; //rgb(0,0,139)
$lightBlue :#ADD8E6; //rgb(173,216,230)
$aliceBlue :#F0F8FF; //rgb(240,248,255)
$navy: #000080; //rgb(0,0,128)
$navyBlue: #9FAFDF; //rgb(159,175,223)
$azure: #F0FFFF; //rgb(240,255,255)
$cadetBlue: #5F9EA0; //rgb(95,158,160)
$cyan: #00FFFF; //rgb(0,255,255)
$lightCyan: #E0FFFF; //rgb(224,255,255)
$darkCyan: #008B8B; //rgb(0,139,139)
$slateBlue: #6A5ACD; //rgb(106,90,205)
$lightSlateBlue: #8470FF; //rgb(132,112,255)
$mediumSlateBlue: #7B68EE; //rgb(123,104,238)
$darkSlateBlue: #483D8B; //rgb(72,61,139)
$powderBlue: #B0E0E6; //rgb(176,224,230)
$skyBlue: #87CEEB; //rgb(135,206,235)
$lightSkyBlue: #87CEFA; //rgb(135,206,250)
$deepSkyBlue: #00BFFF; //rgb(0,191,255)
$midnightBlue: #191970; //rgb(25,25,112)
$steelBlue: #4682B4; //rgb(70,130,180)
$lightSteelBlue:#B0CADE; //rgb(176,196,222)
$royalBlue: #4169E1; //rgb(65,105,255)
$cornflowerBlue:#6495ED; //rgb(100,149,237)
$dodgerBlue: #1E90FF; //rgb(30,144,255)
$blueViolet: #8A2BE2; //rgb(138,43,226)
$indigo: #4B0082; //rgb(75,0,130)
$purple: #800080; //rgb(128,0,128)
$mediumPurple: #9370DB; //rgb(147,112,219)
$lavender: #E6E6FA; //rgb(230,230,250)
$lavenderBlush:#FFF0F5; //rgb(255,240,245)
$orchid: #DA70D6; //rgb(218,112,214)
$mediumOrchid: #BA55D3; //rgb(186,85,211)
$darkOrchid: #9932CC; //rgb(153,50,204)
$thistle: #D88FD8; //rgb(216,191,216)
$plum: #DDA0DD; //rgb(221,160,221)
$violet: #EE82EE; //rgb(238,130,238)
$darkViolet: #9400D3; //rgb(148,0,211)
$magenta: #FF00FF; //rgb(255,0,255)
$darkMagenta: #8B008B; //rgb(139,0,139)
$white: #ffffff; //rgb(255,255,255)
$antiqueWhite: #FAEBD7; //rgb(250,235,215)
$floralWhite:#FFFAF0; //rgb(255,250,240)
$ghostWhite: #F8F8FF; //rgb(248	248	255)
$ivory: #FFFFF0; //rgb(255,255,240)
$navajoWhite:#FFDEAD; //rgb(255,222,173)
$snow: #FFFAFA; //rgb(255,250,250)
$whiteSmoke: #F5F5F5; //rgb(245,245,245)
$gray: #808080; //rgb(128,128,128)
$darkGray: #A9A9A9; //rgb(169,169,169)
$dark: #2F4F4F; //rgb(47,79,79)
$dimGray: #696969; //rgb(105,105,105)
$lightGray: #D3D3D3; //rgb(211,211,211)
$slateGray: #708090; //rgb(112,128,144)
$lightSlateGrey:#778899; //rgb(119,136,153)
$brown: #A52A2A; //rgb(165,42,42)
$Chocolate: #D2691E; //rgb(210,105,30)
$rosyBrown: #BC8F8F; //rgb(188,143,143)
$saddleBrown:#8B4513; //rgb(139,69	19)
$sandyBrown: #F4A460; //rgb(244,164,96)
$seashell: #FFF5EE; //rgb(255,245,238)
$beige: #F5F5DC; //rgb(245,245,220)
$linen: #FAF0E6; //rgb(250,240,230)
$oldLace: #FDF5E6; //rgb(253,245,230)
$wheat: #F5DEB3; //rgb(245,222,179)
$blanchedAlmond:#FFEBCD; //rgb(255,235,205)
$bisque: #FFE4C4; //rgb(255,228,196)
$peru: #CD853F; //rgb(rgb205,133,63)
$moccasin: #FFE4B5; //rgb(255,228,181)
$cornSilk: #FFF8DC; //rgb(255,248,220)
$burlyWood:#DEB887; //rgb(222,184,135)
$khaki: #F0E68C; //rgb(240,230,140)
$darkKhaki:#BDB76B; //rgb(189,183,107)
$black: #000000; //rgb(0,0,0)
$pearlescent:#FFE2B7; //rgb(255,226,183)
$gold: #FFD700; //rgb(255,215,0)			
$silver: #C0C0C0; //rgb(192,192,192)
$copper: #B87333; //rgb(184,115,51)